#Estrenos, #Clasicos, #Animacion, #Terror, #Superheroes, #DeDirector {
    width: 100%;
    margin: 20px 0;

    h2 {
        font-size: 20px; 
        margin-bottom: 10px; 
        color: #fff;
        text-align: center; 
    }

    .owl-carousel {
        margin-top: 10px;
        display: grid;
        gap: 10px; 

        .item {
            height: auto;
            background: #446BCD;
            margin: 5px; 
            color: #FFF;
            text-align: center;
            border-radius: 8px;

            a {
                color: #FFF;
                text-decoration: none;
            }

            h3 {
                font-size: 12px;
                margin: 5px 0;
            }
        }

        .pelicula {
            height: auto;
            width: 100%;
            background-color: #446BCD;
            overflow: hidden;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

            img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: 8px 8px 0 0; //Esto hace que el borde sea cuadrado por un lado y redondo por otro
            }
        }
    }

    /* Tablets */
    @media (min-width: 768px) {
        h2 {
            font-size: 28px;
        }

        .owl-carousel {
            gap: 20px;

            .item {
                height: 300px;
                margin: 10px;

                h3 {
                    font-size: 16px;
                }
            }

            .pelicula {
                height: 100%;
                img {
                    height: 85%;
                }
            }
        }
    }

    /* Dekstop*/
    @media (min-width: 1024px) {
        max-width: 1300px;
        margin: 1% auto;

        h2 {
            font-size: 40px;
            margin-bottom: 20px;
        }

        .owl-carousel {
            gap: 40px;

            .item {
                height: 350px;
            }

            .pelicula {
                img {
                    height: 90%;
                }
            }
        }
    }
}
